<div class="contenedor">
    <button style="border: none; background-color: transparent; font-size: 22px; color:white; margin: 1rem; font-weight: bolder;" routerLink="/home">🡰 Volver</button>
    <div class="asd card col-md-6 mx-auto ">
        <h1 class="text-center mt-5">¿Quién soy?</h1>
        <img class="mx-auto d-block w-25 h-25 rounded-circle" src="https://avatars.githubusercontent.com/u/47437137?v=4" alt="foto de perfil">
        <form class="card-body">
            <h6 class="text-center">
                Hola! Mi nombre es Lucía Cardozo y mi juego propio es adivina el numero. Consta en adivinar cual es
                el numero secreto entre las 10 opciones y teniendo 10 vidas, si acierta en el primer intento obtienes 3 vidas extras, 
                si aciertas en el segundo intento obtienes 2 vidas extras y si aciertas en mas de dos intentos solo obtienes 1 vida 
                extra. Espero que sea entretenido y muchas suerte.
            </h6>
            <h6 class="text-center mt-3"><a href="https://github.com/LuciaCardozo">GitHub Profile</a></h6>
        </form>
    </div>
</div>