<div class="contenedor">
    <button style="border: none; background-color: transparent; font-size: 22px; color:white; margin: 1rem; font-weight: bolder;" routerLink="/home">🡰 Volver</button>
    <div class="asd card col-md-6 mx-auto ">
        <h1 class="text-center mt-5">¿Quién soy?</h1>
        <img class="mx-auto d-block w-25 h-25 rounded-circle" src="https://avatars.githubusercontent.com/u/47437137?v=4" alt="foto de perfil">
        <form class="card-body">
            <h6 class="text-center">Hola! Mi nombre es Lucia Cardozo tengo 26 años y soy estudiante de la facultad regional de Avellaneda. 
                Actualmente me encuentro a 6 materias para finalizar la carrera Tecnico superior
                en programacion y esta pagina esta siendo diseñada de apoco para demostrar mis conocimientos
                adquiridos.
            </h6>
            <h6 class="text-center mt-3"><a href="https://github.com/LuciaCardozo">GitHub Profile</a></h6>
        </form>
    </div>
</div>