<nav class="navbar navbar-expand-lg align-items-center d-flex">
    <!-- <img class="imgIconHeader" [src]="icono" alt="icono"> -->
    <!-- <i class="bi bi-arrow-bar-left" ></i> -->
    <svg routerLink="/home" *ngIf="showBack" xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: white; margin-left: 8px" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
      </svg>
    <a class="navbar-brand" style="color: white; font-family: monospace; margin-left: 10px;">{{titulo}}</a>
    <div class=" navbar-collapse d-flex justify-content-end">
        <ul class="navbar-nav ml-auto m-2 flexCenterCenter">
            <li *ngFor="let boton of botones" [ngStyle]="{'background-color':boton.color}" class="nav-item m-1 nav-link btn text-white" type="button"
                routerLink={{boton.ruta}} style="font-size: 16px !important; padding: 5px 4px !important">{{boton.texto}}
                <img *ngIf="!boton.texto" [src]="imagen" alt="" width="20px" height="20px">
            </li>            
        </ul>
    </div>
</nav>